
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}
body {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
  }
  
  .dark-mode header,
  .dark-mode footer {
    background-color: #1e1e1e;
  }
  

header, footer {
    background-color: lightpink;
    color: gray;
    text-align: center;
    padding: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: lightslategray;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration:underline;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: lightgoldenrodyellow;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #d54646;
}
footer {
    background-color: #520e0e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}
.error-message {
    color: red;
    font-size: 0.9rem;
    display: none; 
}

form .form-group {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
